@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~normalize.css';

@import 'header';
@import 'toolbar';
@import 'formula';
@import 'table';
@import 'dashboard';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.excel{
	position: relative;
	color: #888;
	height: 100%;
	max-width: 100%;
	font-size: .8rem;
}

a{
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
}

ul,
li{
	list-style: none;
	margin: 0;
	padding: 0;
}