.loader{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lds-spinner {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-spinner:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid palevioletred;
	border-color: palevioletred transparent palevioletred transparent;
	animation: lds-spinner 1.2s linear infinite;
}
@keyframes lds-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
